<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="./assets/images/perfume.png"
          class="img-responsive center-block"
          style="max-height: 300px"
        />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Esraa Mostafa</h3>
      </div>

      <div class="text-center">
        <a href="http://www.linkedin.com/in/esraa-mostafa-bb580717b"
          >www.linkedin.com/in/esraa-mostafa-bb580717b</a
        >
      </div>
    </div>
  </div>
</div>
